@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

@media screen and (min-aspect-ratio: 16/9) {
	html {
		overflow-x: hidden !important; 
	}
	.logotype {
		padding-top: 1vw !important;
		padding-bottom: 5vw !important;
	}
	#headerLogo {
		width: 20vw !important; 
	}
	
	main {
		margin: auto;
		width: 35vw !important;
	}
	
	.buttonImage {
		width: 17.5vw !important;
		padding-right: 5vw !important;
	}
	
	.buttonStyle {
		width: 10vw !important;
		height: 5vw !important;
	
		font-size: 24px !important;
	}

	footer {
		width: 35vw !important;
		margin: auto;
	}
	
	.contact {
		height: 20vw !important;
	}
	
	.map {
		width: 35vw !important;
		height: 40vh !important;
	}
}

/*-------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
	font-family: 'Reem Kufi', sans-serif;
	overflow-x: hidden; 
}

body {
	background-color: #000000;
	background-image: url(/img/bg.png);

	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
}

.mainBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
}

.logotype {
    display: flex;
    justify-content: center;
    align-items: center;

	padding-top: 5vw;
	padding-bottom: 30vw;
}
#headerLogo {
	width: 70vw;
	padding: 30px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

main {
	padding: 25px 25px 25px 25px;
	border-radius: 100px 100px 30px 30px;
	background-color: rgba(255, 255, 255, 0.85);
}

a {
	color: #626262;
	text-decoration: none;

}
a:hover {
	color: #0d0d0d;
}

.buttonBox {
	padding: 50px 50px 50px 50px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.buttonImage {
	width: 60vw;
	padding-right: 10vw;
}

.buttonStyle {
	background-color: #f3f7fe;
	color: #3b82f6;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	width: 25vw;
	height: 10vw;
	transition: 0.3s;

	font-size: 36px;
	font-weight: 600;
}

.buttonStyle:hover {
	background-color: #3b82f6;
	box-shadow: 0 0 0 5px #3b83f65f;
	color: #fff;
}

#buttonPrice {
	font-size: 32px;
}

footer {
	display:block;
	padding-top: 5vw;
}

.contact {

	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.85);

	color: #292828;
	font-weight: 700;

	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;

	font-size: 30px;
	height: 40vw;
}

.map {
	padding-top: 5vw;

	border: 1px transparent solid;
	width: 98.4vw;
	height: 30vh;
}

.welcome-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 1s ease-out;
	z-index: 9999;
}
.welcome-screen img {
	max-width: 50%;
	max-height: 50%;
}
.hidden {
	opacity: 0;
	pointer-events: none;
}