@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
    box-sizing: border-box;
}

html {
	font-family: 'Reem Kufi', sans-serif;
	overflow-x: hidden; 

	height: 100vh;
	width: 100vw;
}

body {
	background-color: #000000;
	background-image: url(/img/bg.png);

	background-size: cover;
	background-position: center;
	background-attachment: fixed; 


    font-size: 14px;
}

.logotype {
    display: flex;
    justify-content: center;
    align-items: center;

	padding-top: 5vw;
	padding-bottom: 5vw;
}
#headerLogo {
	width: 70vw;
	padding: 30px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

main {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 30px;
	padding: 30px 0px 50px 30px;
}

button {
    background-color: whitesmoke;
}

.mainBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
}

.buttonStyle {
	background-color: #f3f7fe;
	color: #3b82f6;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	width: 60vw;
	height: 25vw;
	transition: 0.3s;

	font-size: 36px;
	font-weight: 600;
}

.buttonStyle:hover {
	background-color: #3b82f6;
	box-shadow: 0 0 0 5px #3b83f65f;
	color: #fff;
}

.buttonStyle:disabled {
	border-color: #DDDDDD;
	color: #DDDDDD;
	cursor: not-allowed;
	opacity: 1;
}

.service {
    margin-bottom: 10px;
}
.result {
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}