@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

html {
	font-family: 'Reem Kufi', sans-serif;
	overflow: hidden;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: red;
}

.mainBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

img {
	width: 70vw
}

a {
	font-size: 60px;

	align-items: center;
	display: inline-flex;

	width: 70vw;
	text-align: center;
	background-color:#000000; 	/* Button color */
	border-radius:7px;
	border:1px solid #ffffff;	/* Last tag -- border color */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;			/* Text color */
	padding:18px 75px;
	text-decoration:none;
	text-shadow:0px 1px 6px #2f6627;
}

a:active {
	position:relative;
	top:2px;
}

.telegram {
	background-color: #00d4ff
}

.telegram:hover {
	background-color: #096479
}

.viber {
	background-color: #ff00b0
}

.viber:hover {
	background-color: #6b0979
}

.whatsApp {
	background-color: #3bf546
}

.whatsApp:hover {
	background-color: #28a430
}

.email {	
	background-color: #C2B800
}

.email:hover {
	background-color: #705C01
}


